<IfModule mod_rewrite.c>
    RewriteEngine On

    # Cegah akses ke file tersembunyi
    RewriteRule ^\.(.*)$ - [F]

    # Lewatkan berkas & direktori yang benar-benar ada secara fisik
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request lainnya ke index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>

<IfModule mod_headers.c>
    # Header Keamanan
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
    <FilesMatch "\.(css|js|png|jpg|jpeg|svg|woff2?)$">
        Header set Cache-Control "public, max-age=3600"
    </FilesMatch>
</IfModule>
